@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
  .flex-row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .appearance-default {
    -webkit-appearance: none;
  }
}

body {
  background: linear-gradient(177.18deg, #FDFFE7 2.34%, #F3FF84 18.15%);
  min-height: 100vh
}
